# LaTex output files

*.out
*.aux
*.lot
*.lof
*.log
*.toc
*.pdf
*.gz

*.bbl
*.blg

*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ilg
*.ist
*.nlo
*.nls

# Swap files

*.swp

# Downloads

*.zip

# Images

*.png

# Ignore uw-ethesis reference material

uw-ethesis*
